<!DOCTYPE html>
<html>
<head>
<title> New Account</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
<form action="/check_register" method="GET">

            {{msg}}
</font>

<br>
<div class="form-group">
  <label for="username">Username:</label>
  <input type="text" class="form-control" id="username" name="username" required>
  <br>
</div>
<div class="form-group">
  <label for="password">Password:</label>
  <input type="password" class="form-control" id="password" name="password1" required>
  <br>
</div>

<div class="form-group">
  <label for="password2">Confirm Password:</label>
  <input type="password" class="form-control" id="password2" name="password2" required>
  <br>
</div>

<button type="submit" class="btn btn-primary"> Sign up </button>
<br>
Have an Account? <a href= "/login"> Login </a>
</form>

</body>
</html>
