<!DOCTYPE html>
<html>
  <head>
    <title> Welcome!!</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>

    <center><h1> Welcome!! </h1>
    <br>
    <strong>Have an account?</strong><br>

    <a href="/login" class="btn btn-link">Log in</a>

    <br><br>
    <strong> Need one?</strong><br>
    <a href="/signup" class="btn btn-link"> Make an account</a></center>

  </body>
</html>
